In [1]:
from pandas import *
from numpy import *
rurales=read_csv('rurales_12_02_23.csv').drop('Unnamed: 0',axis=1)

/usr/local/lib/python3.9/dist-packages/pandas/compat/_optional.py:149: UserWarning: Pandas requires version '1.3.1' or newer of 'bottleneck' (version '1.2.1' currently installed).
  warnings.warn(msg, UserWarning)

In [9]:
for i in rurales.loc[rurales.otros_trab>0].index:
    rurales.tipo_hogar[i]='UFR'

<ipython-input-9-fbd039ea64c0>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rurales.tipo_hogar[i]='UFR'

In [15]:
rurales['IngresoTrab']=rurales['trabajo']+rurales['otros_trab']

In [16]:
rurales['IngresoCorr']=rurales['IngresoTrab']+rurales['agrope']+rurales['noagrop']+rurales['rentas']+rurales['transfer']+rurales['otros_ing']

In [23]:
rurales['IngresoMensual']=0.3*rurales['IngresoCorr'].round(2)

In [20]:
rurales.drop('ingreso mensual',axis=1)

,folioviv,foliohog,pertenece a etnia,no pertenece a etnia,15 o menos,16-29,30-59,60 o mas,numren,ubica_geo,...,tasa ocupacional,tocupa,CUmun,CUmun2,CUmun3,LP,Ingreso mensual,IngresoTrab,IngresoCorr,IngresoMensual
0,160009403,1,0,3,0,0,1,2,3,1001,...,66.67,Alta,NaN,1,NaN,sobre,9.722394e+05,11972.31,39902.30,11970.690
1,160009407,1,0,4,1,1,2,0,4,1001,...,75.00,Alta,NaN,1,NaN,sobre,6.183278e+05,19711.94,28013.17,8403.951
2,160009411,1,0,4,2,0,2,0,4,1001,...,50.00,Media,NaN,1,NaN,sobre,4.140248e+05,17021.72,17217.37,5165.211
3,160009415,1,0,3,0,2,1,0,3,1001,...,100.00,Alta,NaN,1,NaN,sobre,9.760588e+05,41822.58,42996.49,12898.947
4,160009419,1,0,5,3,0,2,0,5,1001,...,60.00,Media,NaN,1,NaN,sobre,6.869438e+05,23111.40,28540.74,8562.222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28781,3260770714,1,0,2,0,0,0,2,2,32012,...,50.00,Media,NaN,3,3.0,sobre,6.070549e+05,9442.62,11227.85,3368.355
28782,3260770715,1,0,2,0,0,0,2,2,32012,...,100.00,Alta,NaN,3,3.0,sobre,5.921566e+05,0.00,10878.67,3263.601
28783,3260770716,1,0,3,1,0,2,0,3,32012,...,66.67,Alta,NaN,3,3.0,sobre,8.578065e+05,0.00,18604.84,5581.452
28784,3260770717,1,0,7,3,2,2,0,7,32012,...,28.57,Baja,NaN,3,3.0,sobre,1.107934e+06,21196.71,22967.20,6890.160
28785,3260770718,1,0,3,0,0,2,1,3,32012,...,66.67,Alta,NaN,3,3.0,sobre,1.937713e+06,37278.67,40915.16,12274.548

In [28]:
rurales.IngresoMensual=rurales.IngresoMensual.round(2)

In [29]:
rurales.IngresoMensual

0        11970.69
1         8403.95
2         5165.21
3        12898.95
4         8562.22
           ...
28781     3368.36
28782     3263.60
28783     5581.45
28784     6890.16
28785    12274.55
Name: IngresoMensual, Length: 28786, dtype: float64

In [30]:
rurales.to_csv('rurales_22_02_23.csv', index=False)

In [40]:
rurales.filter(['IngresoCorr','IngresoTrab','agrope','noagrop','rentas','transfer','otros_ing','tipo_hogar','CUmun2','Region']).pivot_table(index=['tipo_hogar','CUmun2'],aggfunc=mean).round(2)

                             IngresoCorr  IngresoTrab   agrope  noagrop  \
tipo_hogar           CUmun2
Sin ingresos propios 0          23526.01         0.00     0.00     0.00
                     1          19178.68         0.00     0.00     0.00
                     2          17303.56         0.00     0.00     0.00
                     3          17633.52         0.00     0.00     0.00
                     4          18189.92         0.00     0.00     0.00
UCE                  0          34500.43     21147.53   987.68     0.00
                     1          29036.25     13194.53  8365.01     0.00
                     2          22277.45     10128.79  5316.00     0.00
                     3          23587.63      9585.35  6363.45     0.00
                     4          19204.16      6769.44  5455.00     0.00
UCEP                 1          28725.82      7665.48  3467.93  9015.24
                     2          36850.69     17748.13  4986.88  7175.59
                     3          27422.34      7350.86  4874.64  8518.49
                     4          25804.13      5643.19  5131.16  8227.28
UFR                  0          35305.93     27431.99     0.00  1500.11
                     1          34263.64     25556.16   188.23  3234.68
                     2          34352.99     24706.80   306.05  3435.58
                     3          30939.55     21708.02   332.86  2600.93
                     4          29588.43     20458.46   586.04  2430.88

                             otros_ing   rentas  transfer
tipo_hogar           CUmun2
Sin ingresos propios 0            0.00     0.00  23526.01
                     1           91.76     0.00  19086.93
                     2            0.00     0.00  17303.56
                     3          140.31     0.00  17493.21
                     4          107.81     0.00  18082.11
UCE                  0            0.00     0.00  12365.22
                     1            8.84   390.87   7076.99
                     2           37.40   397.65   6397.61
                     3           35.28   391.45   7212.10
                     4           22.16   242.65   6714.91
UCEP                 1            0.81   232.64   8343.71
                     2            0.00   419.22   6520.87
                     3           31.66   369.84   6276.86
                     4            0.08   249.93   6552.50
UFR                  0            0.00  3247.02   3126.81
                     1           29.72   825.65   4429.20
                     2            3.05   825.53   5076.00
                     3           22.95  1072.70   5202.10
                     4           17.70  1116.20   4979.14

In [92]:
THR1=rurales.filter(['factor','Region','tipo_hogar']).pivot_table(index=['Region'],columns=['tipo_hogar'],aggfunc=sum,margins=True,margins_name='Total')
THR2=rurales.filter(['folioviv','Region','tipo_hogar']).pivot_table(index=['Region'],columns=['tipo_hogar'],aggfunc='count',margins=True,margins_name='Total')

In [69]:
THR1=THR1.rename(columns={'factor':'Hogares'})

In [93]:
THR2=THR2.droplevel(0,axis=1)

In [94]:
THR1=THR1.droplevel(0,axis=1)

In [95]:
for cn in THR1.columns:
    THR1[cn + ' %']=100*THR1[cn]/THR1['Total']

In [96]:
THR1.round(2)

tipo_hogar,Sin ingresos propios,UCE,UCEP,UFR,Total,Sin ingresos propios %,UCE %,UCEP %,UFR %,Total %
Region,,,,,,,,,,
Centro,217897,341249,90901,1894636,2544683,8.56,13.41,3.57,74.45,100.0
Norte,172806,181503,43827,1109990,1508126,11.46,12.04,2.91,73.60,100.0
Sur,125438,633186,189062,1135654,2083340,6.02,30.39,9.07,54.51,100.0
Total,516141,1155938,323790,4140280,6136149,8.41,18.84,5.28,67.47,100.0

In [86]:
sum([8.56,13.41,3.57,74.45])

99.99000000000001

In [97]:
for cn in THR2.columns:
    THR2[cn + ' %']=100*THR2[cn]/THR2['Total']

In [100]:
THR1=THR1.round(2)

In [102]:
THR2=THR2.round(2)

In [103]:
THR1

tipo_hogar,Sin ingresos propios,UCE,UCEP,UFR,Total,Sin ingresos propios %,UCE %,UCEP %,UFR %,Total %
Region,,,,,,,,,,
Centro,217897,341249,90901,1894636,2544683,8.56,13.41,3.57,74.45,100.0
Norte,172806,181503,43827,1109990,1508126,11.46,12.04,2.91,73.60,100.0
Sur,125438,633186,189062,1135654,2083340,6.02,30.39,9.07,54.51,100.0
Total,516141,1155938,323790,4140280,6136149,8.41,18.84,5.28,67.47,100.0

In [115]:
THR2.to_excel('hogares_por_tipo_region_muestra.xlsx')
THR1.to_excel('hogares_por_tipo_region_estimado.xlsx')

In [106]:
GR=rurales.groupby('Region')
gr=DataFrame(GR)

In [114]:
for i in gr[0].index:
    gr[1][i].filter(['IngresoCorr','IngresoTrab','agrope','noagrop','rentas','transfer','otros_ing','tipo_hogar','CUmun2','Region']).pivot_table(index=['tipo_hogar','CUmun2'],aggfunc=mean).round(2).to_excel('ingreso_corriente_promedio_'+gr[0][i]+'.xlsx')

In [116]:
read_excel('ingreso_corriente_promedio_Centro.xlsx')

,tipo_hogar,CUmun2,IngresoCorr,IngresoTrab,agrope,noagrop,otros_ing,rentas,transfer
0,Sin ingresos propios,0,23526.01,0.00,0.00,0.00,0.00,0.00,23526.01
1,NaN,1,18845.85,0.00,0.00,0.00,97.20,0.00,18748.64
2,NaN,2,17869.82,0.00,0.00,0.00,0.00,0.00,17869.82
3,NaN,3,17526.26,0.00,0.00,0.00,24.42,0.00,17501.84
4,NaN,4,17475.73,0.00,0.00,0.00,11.23,0.00,17464.49
5,UCE,0,34500.43,21147.53,987.68,0.00,0.00,0.00,12365.22
6,NaN,1,29643.69,13309.30,8520.39,0.00,11.86,364.01,7438.13
7,NaN,2,22075.12,8913.56,7527.54,0.00,66.57,499.89,5067.57
8,NaN,3,27950.83,12976.45,6881.70,0.00,29.03,491.60,7572.06
9,NaN,4,23354.51,10809.32,4981.03,0.00,0.53,120.21,7443.42
10,UCEP,1,28675.00,8397.47,3252.83,9434.19,1.51,106.72,7482.28
11,NaN,2,40602.81,17657.92,6570.45,7657.03,0.00,759.84,7957.58
12,NaN,3,30813.26,10567.59,4615.72,9604.59,2.84,192.14,5830.38
13,NaN,4,28494.82,6170.94,4655.48,9589.05,0.00,45.90,8033.45
14,UFR,0,35305.93,27431.99,0.00,1500.11,0.00,3247.02,3126.81
15,NaN,1,34235.59,25368.68,184.00,3317.67,35.29,801.44,4528.51
16,NaN,2,34867.09,25246.47,334.74,3683.07,3.10,917.57,4682.13
17,NaN,3,31169.90,22475.84,309.41,2394.66,10.39,1037.52,4942.07
18,NaN,4,28726.97,19872.49,512.04,2438.12,6.36,784.33,5113.64

In [118]:
gr[1][0].filter(['IngresoCorr','IngresoTrab','agrope','noagrop','rentas','transfer','otros_ing','tipo_hogar','CUmun2','Region']).pivot_table(index=['tipo_hogar','CUmun2'],aggfunc=mean).round(2)

                             IngresoCorr  IngresoTrab   agrope  noagrop  \
tipo_hogar           CUmun2
Sin ingresos propios 0          23526.01         0.00     0.00     0.00
                     1          18845.85         0.00     0.00     0.00
                     2          17869.82         0.00     0.00     0.00
                     3          17526.26         0.00     0.00     0.00
                     4          17475.73         0.00     0.00     0.00
UCE                  0          34500.43     21147.53   987.68     0.00
                     1          29643.69     13309.30  8520.39     0.00
                     2          22075.12      8913.56  7527.54     0.00
                     3          27950.83     12976.45  6881.70     0.00
                     4          23354.51     10809.32  4981.03     0.00
UCEP                 1          28675.00      8397.47  3252.83  9434.19
                     2          40602.81     17657.92  6570.45  7657.03
                     3          30813.26     10567.59  4615.72  9604.59
                     4          28494.82      6170.94  4655.48  9589.05
UFR                  0          35305.93     27431.99     0.00  1500.11
                     1          34235.59     25368.68   184.00  3317.67
                     2          34867.09     25246.47   334.74  3683.07
                     3          31169.90     22475.84   309.41  2394.66
                     4          28726.97     19872.49   512.04  2438.12

                             otros_ing   rentas  transfer
tipo_hogar           CUmun2
Sin ingresos propios 0            0.00     0.00  23526.01
                     1           97.20     0.00  18748.64
                     2            0.00     0.00  17869.82
                     3           24.42     0.00  17501.84
                     4           11.23     0.00  17464.49
UCE                  0            0.00     0.00  12365.22
                     1           11.86   364.01   7438.13
                     2           66.57   499.89   5067.57
                     3           29.03   491.60   7572.06
                     4            0.53   120.21   7443.42
UCEP                 1            1.51   106.72   7482.28
                     2            0.00   759.84   7957.58
                     3            2.84   192.14   5830.38
                     4            0.00    45.90   8033.45
UFR                  0            0.00  3247.02   3126.81
                     1           35.29   801.44   4528.51
                     2            3.10   917.57   4682.13
                     3           10.39  1037.52   4942.07
                     4            6.36   784.33   5113.64