In [1]:
import bamboolib as bam
from pandas import *
from numpy import *
data=read_csv('rurales_cuMun_26_8_2021.csv').drop('Unnamed: 0',axis=1)

In [2]:
data['Ingreso mensual']=data['factor']*(data['ing_cor']/3.)
data['ingreso mensual']=data['ing_cor']/3.

In [3]:
data.to_csv('rurales_cuMun_22_3_2022.csv',index=False)

In [22]:
data.filter(['factor','Region','tipo_hogar','Ingreso mensual']).pivot_table(index='Region',columns='tipo_hogar',aggfunc=[sum,mean],margins=True,margins_name='Total').rename(columns={'factor':'Hogares'}).astype(int)

                            sum                                        \
                Ingreso mensual
tipo_hogar Sin ingresos propios          UEC        UECP          UFR
Region
Centro              22359922525   5424980813  2072378870   7547298382
Norte               13705286512   2302854585   688010691   2921066025
Sur                  8821881862   7161522815  3214070278   4037736318
Total               44887090900  14889358214  5974459841  14506100726

                                                                        \
                                     Hogares
tipo_hogar        Total Sin ingresos propios      UEC    UECP      UFR
Region
Centro      37404580592              1924244   567205  162832   558742
Norte       19617217815              1196359   223358   55463   227400
Sur         23235211275              1052904  1253195  376227   420114
Total       80257009682              4173507  2043758  594522  1206256

                                    mean                                      \
                         Ingreso mensual
tipo_hogar    Total Sin ingresos propios      UEC     UECP      UFR    Total
Region
Centro      3213023              3285325  3863946  5180947  4192943  3593139
Norte       1702580              1673621  1852658  2293368  2076095  1761129
Sur         3102440              3469084  2821718  3648206  3728288  3298113
Total       8018043              2559419  2871621  3778911  3381375  2806777


                        Hogares
tipo_hogar Sin ingresos propios  UEC UECP  UFR Total
Region
Centro                      282  403  407  310   308
Norte                       146  179  184  161   152
Sur                         414  493  427  387   440
Total                       237  394  376  281   280

In [4]:
T11=data.filter(['factor','Region','tipo_hogar','ingreso mensual']).pivot_table(index='Region',columns='tipo_hogar',aggfunc=[sum],margins=True,margins_name='Total').rename(columns={'factor':'Hogares'}).astype(float).round(2)

In [5]:
T11=T11.droplevel(level=0,axis=1)

In [52]:

T11.to_excel('Ingreso corriente mensual por tipo de hogar por region.xls')

In [6]:
T12=data.filter(['factor','Region','tipo_hogar','ingreso mensual']).pivot_table(index='Region',columns='tipo_hogar',aggfunc=[sum,mean],margins=True,margins_name='Total').rename(columns={'factor':'Hogares'}).astype(float).round(2)

In [7]:
T12=T12.drop([('mean','Hogares'),('sum','ingreso mensual')],axis=1)

In [8]:
T12=T12.droplevel(level=0,axis=1)

In [60]:
T12.to_excel('Ingreso corriente mensual promedio por tipo de hogar por region.xls')

In [13]:
T13=data.filter(['factor','Region','tipo_hogar','ingreso mensual']).pivot_table(index='Region',columns='tipo_hogar',aggfunc=[sum,],margins=True,margins_name='Total').rename(columns={'factor':'Hogares'}).astype(float).round(2)

AttributeError: 'describe()' is not a valid function for 'DataFrameGroupBy' object

In [18]:
T13=data.groupby('Region')['ingreso mensual'].describe().join(data.groupby('Region')['factor'].sum()).rename(columns={'factor':'Hogares','count':'muestra'})

In [27]:
T13=T13.append(DataFrame(T13.sum()).T.rename(index={0:'Total'}))

In [30]:
T13=T13.round(2)

In [33]:
T13.to_excel('tabla_13_descriptivos_ingreso_mensual.xls')

In [34]:
T12.columns = ["_".join([str(index) for index in multi_index]) for multi_index in T12.columns.ravel()]
T12 = T12.reset_index()
T12

                        Hogares                                             \
tipo_hogar Sin ingresos propios        UEC      UECP        UFR      Total
Region
Centro                1924244.0   567205.0  162832.0   558742.0  3213023.0
Norte                 1196359.0   223358.0   55463.0   227400.0  1702580.0
Sur                   1052904.0  1253195.0  376227.0   420114.0  3102440.0
Total                 4173507.0  2043758.0  594522.0  1206256.0  8018043.0

                ingreso mensual
tipo_hogar Sin ingresos propios       UEC      UECP       UFR     Total
Region
Centro                 12487.69   9950.08  13136.37  13993.29  12430.70
Norte                  12412.61  10596.92  12169.45  12934.97  12269.43
Sur                     8803.14   6084.29   8575.76   9712.71   7935.05
Total                  11918.38   8212.89  10411.53  12565.57  11260.24

In [35]:
T13 = T13.reset_index()
T13

,muestra,mean,std,min,25%,50%,75%,max,Hogares
Centro,10410.0,12430.70,16267.81,300.0,6109.89,9551.95,15047.88,857175.78,3213023.0
Norte,11139.0,12269.43,23918.33,0.0,5667.93,9037.70,14554.60,1500610.09,1702580.0
Sur,7045.0,7935.05,11369.46,127.1,3600.77,5930.48,9752.60,744647.40,3102440.0
Total,28594.0,32635.18,51555.60,427.1,15378.59,24520.13,39355.08,3102433.27,8018043.0